.btn-accueil{

    background-color:  rgb(75, 119, 78);
    color: rgb(255, 255, 255);
    border-color: rgb(75, 119, 78);
    font-size: 20px;
    font-weight: 600;
    float :inline-start;
    width: 10x;
    padding: 5px;
    align-items: center;
  
   


}

.mef-btn-position {
    padding: 20px;
}